{{ question.instruction }}

{% if question.latex %}
\[
{{ question.latex }}
\]
{% endif %}

{% for choice in choices -%}
{{ ["A", "B", "C", "D", "E"][loop.index0] }}) \( {{ choice.latex }} \)
{% endfor %}
